:root{
    --bg:#3f87a6;
    --card:#6a6475;
    --hover:#5c4764;
    --grey:grey;
    --white: white;
}
html body{
    background: linear-gradient(0.25turn, var(--grey), var(--bg), var(--hover)); 
    color:var(--white);
    font-family: Shadows into light;
    font-size:  30px;
    @media(max-width: 320px){
       
        margin:0px;
        padding:0px;
        box-sizing: border-box;
        max-width:fit-content;
       
    }
}
.box {
    --bulma-box-background-color: var(--card);
}
.font{
    font-size:15px;;
}
.card {
        
        --bulma-card-background-color:var(--card);
    }

.card-content {
    color: white;
    font-size:12px ;
}
.navbar-brand {

    background: linear-gradient(0.25turn, var(--bg), var(--hover),var(--grey));
    border-bottom: 5px double var(--card);
    border-top: 5px double var(--grey);
}

.hero .image img {
    display: block; /* Ensures the image behaves like a block element */
    margin: auto; /* Centers the image horizontally */
    max-width: 100%; /* Ensures the image does not exceed its container's width */
    max-height: 100%; /* Ensures the image does not exceed its container's height */
    width: auto; /* Ensures the image width adjusts proportionally */
    height: auto; /* Ensures the image height adjusts proportionally */
    object-fit: cover; /* Ensures the image fits inside its container without stretching */
    padding-top: 10px;
   
}
.card-image:first-child img {
    display: block; /* Ensures the image behaves like a block element */
    margin: auto; /* Centers the image horizontally */
    padding-top:10px;/* add a space on top of the content */
    max-width: 100%; /* Ensures the image does not exceed its container's width */
    max-height: 100%; /* Ensures the image does not exceed its container's height */
    width: auto; /* Allows the image width to adjust proportionally */
    height: auto; /* Allows the image height to adjust proportionally */
    object-fit: contain; /* Ensures the image covers the entire area of its container */
}
figure.imgge { 
    border-bottom: 5px double var(--card);
}   
footer.footer{
    background: linear-gradient(0.25turn, var(--bg), var(--hover),var(--grey));
    border-bottom: 5px double var(--card);
    border-top: 5px double var(--grey);
}
textarea.textarea{
    background: linear-gradient(var(--hover),var(--grey));
    color:var(--white);
}
input.input{
    background: linear-gradient( var(--hover),var(--grey));
    color:var(--white);
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}